<a href="https://colab.research.google.com/github/JMandal02/Data-Science_pwskills/blob/main/Assignment_Python_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Types and Structures Questions**

**1. What are data structures, and why are they important?**
  
  - Data structures are ways to store and organize data for efficient access and modification. They're crucial in programming for optimizing time and memory usage, enabling faster algorithm implementation and effective data management.

**2. Explain the difference between mutable and immutable data types with examples.**

- **Mutable:** Can be changed after creation. Example: list, dict.
       
        a = [1, 2, 3]

        a[0] = 10

- **Immutable:** Cannot be changed after creation. Example: int, str, tuple.
        
        b = "hello"

        b[0] = 'H'  
    
**3.What are the main differences between lists and tuples in Python?**

  - Lists are mutable, tuples are immutable.

  - Lists use more memory, tuples are faster to access.

            list1 = [1, 2, 3]
  
            tuple1 = (1, 2, 3)

**4.Describe how dictionaries store data.**
  - Dictionaries store data in key-value pairs using hash tables, enabling fast access via keys.

**5.Why might you use a set instead of a list in Python?**

  - Sets store unique items and offer faster lookup and membership testing than lists.

**6.What is a string in Python, and how is it different from a list?**

  - A string is an immutable sequence of characters. A list can contain elements of any type and is mutable.

**7.How do tuples ensure data integrity in Python?**


  - Their immutability prevents accidental modification, preserving the data as it is.

**8.What is a hash table, and how does it relate to dictionaries in Python?**

  - A hash table maps keys to values using a hashing function — Python dictionaries use this internally.

**9.Can lists contain different data types in Python?**
  - Yes, Python lists can hold mixed types:
  
     mixed = [1, "hello", 3.5]

**10. Explain why strings are immutable in Python.**
  - To ensure consistency, thread safety, and allow internal optimizations (e.g., interning).

**11. What advantages do dictionaries offer over lists for certain tasks?**
  - Faster lookup by key, better for representing relationships or mappings.

**12. Describe a scenario where using a tuple would be preferable over a list.**
  - When you need a fixed collection of values that should not change, like coordinates (x, y).

**13. How do sets handle duplicate values in Python?**
  - Sets automatically remove duplicate entries:

        s = {1, 2, 2, 3}

**14. How does the “in” keyword work differently for lists and dictionaries?**

  - Lists: checks for values.

  - Dictionaries: checks for keys.

**15. Can you modify the elements of a tuple? Explain why or why not.**

  - No. Tuples are immutable:
    
        t = (1, 2, 3)

        t[0] = 10  # Error


**16. What is a nested dictionary, and give an example of its use case.**

  - A dictionary within another:


        person = {"name": "John", "address": {"city": "Delhi", "zip": "110001"}}

**17. Describe the time complexity of accessing elements in a dictionary.**

  - Average-case: O(1) (constant time)

**18. In what situations are lists preferred over dictionaries?**

  - When order matters or only sequential data is stored, not key-value mappings.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
  - They didn't preserve insertion order; now they do, but logically order isn't guaranteed.

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**
  - List: By index.

  - Dict: By key.

# **Practical Questions**

In [1]:
# 1. Write a code to create a string with your name and print it
name = "Jyotirmoy"
print(name)

Jyotirmoy

In [2]:
# 2. Write a code to find the length of the string "Hello World"
print(len("Hello World"))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
print("Python Programming"[:3])

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
print(list(range(1, 6)))

[1, 2, 3, 4, 5]

In [7]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst2 = [1, 2, 3, 4, 5]
lst2.remove(3)
print(lst2)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
nums = [10, 20, 30, 40, 50]
print(nums[::-1])

[50, 40, 30, 20, 10]

In [11]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [12]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
print(min((10, 20, 5, 15)))

5

In [14]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
print(('dog', 'cat', 'rabbit').index("cat"))

1

In [15]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)

True

In [16]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
print(set(['a', 'b', 'c']))

{'b', 'a', 'c'}

In [17]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
s2 = {1, 2, 3, 4}
s2.remove(4)
print(s2)

{1, 2, 3}

In [19]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
print({1, 2, 3}.union({3, 4, 5}))

{1, 2, 3, 4, 5}

In [20]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

In [21]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [22]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
print({'name': 'Alice', 'age': 30}["name"])

Alice

In [24]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d2.pop("age")
print(d2)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
print("city" in {'name': 'Alice', 'city': 'Paris'})

True

In [26]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [27]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[7, 19, 31, 80, 93]

In [28]:
# 28. Write a code to create a list with strings and print the element at the third index
strs = ["zero", "one", "two", "three", "four"]
print(strs[3])

three

In [29]:
# 29. Write a code to combine two dictionaries into one and print the result
d1 = {"a": 1}
d2 = {"b": 2}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2}

In [30]:
# 30. Write a code to convert a list of strings into a set
string_list = ["apple", "banana", "apple", "orange"]
print(set(string_list))

{'orange', 'banana', 'apple'}